@model SolarEP.Models.lojas


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAjax.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formeditarloja" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)


    <script>

        jQuery(function ($) {
            $('#cnpj_loja').mask('00000000000000');
        });

    </script>

    <script>
        $(function () {
            // your code goes here
            $("#bteditarloja").click(function () {
                cnpj_loja = $("#cnpj_loja").val()
                razao_social_loja = $("#razao_social_loja").val()
                if (cnpj_loja == "" || razao_social_loja == "") {
                    alert("É necessário preencher os campos marcados com *");
                    return false;
                }
                else {
                    $("#formeditarloja").submit();
                }

            });
        });
    </script>
    
    
    <div class="form-group">
        @Html.LabelFor(model => model.cnpj_loja, "CPF/CNPJ*", new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.cnpj_loja, new { @class = "form-control", placeholder = "CPF/CNPJ", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.cnpj_loja)
        </div>
        @Html.LabelFor(model => model.razao_social_loja, "Razão Social*", new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.razao_social_loja, new { @class = "form-control", MaxLength = "30", placeholder = "Razão Social" })
            @Html.ValidationMessageFor(model => model.razao_social_loja)
        </div>
    </div>

    <div class="form-group">
            @Html.LabelFor(model => model.status_loja, "Status Loja", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.DropDownList("status_loja", null, String.Empty)
                @Html.ValidationMessageFor(model => model.status_loja)
            </div>
        @Html.LabelFor(model => model.email_contato, "E-mail", new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.email_contato, new { @class = "form-control", MaxLength = "30", placeholder = "E-mail" })
            @Html.ValidationMessageFor(model => model.email_contato)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nome_contato, "Nome Contato", new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.nome_contato, new { @class = "form-control", MaxLength = "20", placeholder = "Nome Contato" })
            @Html.ValidationMessageFor(model => model.nome_contato)
        </div>
        @Html.LabelFor(model => model.kunnr, "KUNNR", new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.kunnr, new { @class = "form-control", placeholder = "KUNNR", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.kunnr)
        </div>
    </div>
    
    <div class="form-group hidden">
        @Html.LabelFor(model => model.lattext, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.lattext)
            @Html.ValidationMessageFor(model => model.lattext)
        </div>
    </div>

    <div class="form-group hidden">
        @Html.LabelFor(model => model.longtext, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.longtext)
            @Html.ValidationMessageFor(model => model.longtext)
        </div>
    </div>

    <div class="form-group hidden">
        @Html.LabelFor(model => model.loja_ativa, "Loja Ativa", new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.loja_ativa, new { @class = "form-control", MaxLength = "30", placeholder = "Loja Ativa" })
            @Html.ValidationMessageFor(model => model.loja_ativa)
        </div>
    </div>

    <div class="form-group hidden">
        @Html.LabelFor(model => model.email_codigo, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email_codigo)
            @Html.ValidationMessageFor(model => model.email_codigo)
        </div>
    </div>
    
    <div class="form-group hidden">
        @Html.LabelFor(model => model.senha, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.senha)
            @Html.ValidationMessageFor(model => model.senha)
        </div>
    </div>
    

    

}