@model SolarEP.Models.gestao_campanha

@{
    ViewBag.Title = "EditLancamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Content/assets/vendor/jquery/jquery.js")"></script>

<script>
    $(function () {
        var _URL = window.URL || window.webkitURL;

        $("#coverimage").change(function () {
            var file, img;

            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    if (this.width != 658 || this.height != 265) {
                        alert("Dimensões Cover Image incorretas!");
                        $("#coverimage").val("");
                        return false;
                    }
                };
                img.onerror = function () {
                    alert("Cover Image - 658x265px é necessário ser JPG ou PNG");
                    $("#coverimage").val("");
                };
                img.src = _URL.createObjectURL(file);
            }
        });

        $("#icon_image").change(function () {
            var file, img;

            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    if (this.width != 147 || this.height != 147) {
                        alert("Dimensões Icon Image incorretas!");
                        $("#icon_image").val("");
                        return false;
                    }
                };
                img.onerror = function () {
                    alert("Icon Image - 147x147px é necessário ser PNG");
                    $("#icon_image").val("");
                };
                img.src = _URL.createObjectURL(file);
            }
        });
        // your code goes here
        $('#btneditarlancamento').click(function () {
            titulo = $("#titulo").val()
            descricao_curta = $("#descricao_curta").val()
            descricao = $("#descricao").val()
            ativa = $("#ativa").val()
           // coverimage = $("#coverimage").val()
           // icon_image = $("#icon_image").val()

            if (titulo == "") {
                alert("É necessário preencher título");
                return false;
            }
            else if (descricao_curta == "") {
                alert("É necessário preencher uma descrição curta");
                return false;
            }
            else if (descricao == "") {
                alert("É necessário preencher uma descrição");
                return false;
            }
       /*     else if (coverimage == "") {
                alert("É necessário realizar o Upload Cover Image");
                return false;
            }
            else if (icon_image == "") {
                alert("É necessário realizar o Upload Icon Image");
                return false;
            } */
            else if (ativa == "") {
                alert("É necessário preencher Ativada/Desativada");
                return false;
            }
            else {
                $("#formeditarlancamento").submit();
            }
        });
    });

</script>


<header class="page-header">
    <h2>Editar Lançamento</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Editar Lançamento</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
    </div>
</header>

@using (Html.BeginForm("EditLancamentos", "Campanhas", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formeditarlancamento" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>

                    <h2 class="panel-title">Editar Lançamento</h2>
                </header>
                <div class="panel-body">

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.url_foto)
                    @Html.HiddenFor(model => model.id_tipocampanha)
                    @Html.HiddenFor(model => model.icon_image)


                    <div class="form-group">
                        @Html.LabelFor(model => model.titulo, "Título", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.titulo, new { @class = "form-control", placeholder = "Título", MaxLength = "50" })
                            @Html.ValidationMessageFor(model => model.titulo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.descricao_curta, "Descrição Curta", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.descricao_curta, new { @class = "form-control", placeholder = "Descrição Curta", MaxLength = "255" })
                            @Html.ValidationMessageFor(model => model.descricao_curta)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.descricao, "Descrição", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.descricao, new { @class = "form-control", placeholder = "Descrição" })
                            @Html.ValidationMessageFor(model => model.descricao)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.link, "URL (Necessário inserir: http:// ou https://)", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.link, new { @class = "form-control", placeholder = "URL" })
                            @Html.ValidationMessageFor(model => model.descricao_curta)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.link_nome, "Nome URL", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.link_nome, new { @class = "form-control", placeholder = "Nome URL", MaxLength = "255" })
                            @Html.ValidationMessageFor(model => model.descricao_curta)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Upload Cover Image - 658x265px (PNG ou JPG)", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="coverimage" id="coverimage" />
                        </div>
                        @if (Model.url_foto != null)
                        {
                            <div class="col-md-10">
                                <div class="img-responsive">
                                    <img src="@Model.url_foto" class="" alt="" width="450">
                                </div>
                            </div>
                        }
                    </div>

                    <div class="form-group">
                        @Html.Label("Upload Icon Image - 147x147px (PNG)", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="icon_image" id="icon_image" />
                        </div>

                        @if (Model.icon_image != null)
                        {
                            <div class="col-md-10">
                                <div class="img-responsive">
                                    <img src="@Model.icon_image" class="" alt="" width="100">
                                </div>
                            </div>
                        }
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.aderir, "Campanha deve permitir adesão do cliente", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model.aderir, 1, new { @Id = "statusssim" })
                            <label for="statusssim">Sim</label>
                            @Html.RadioButtonFor(model => model.aderir, 0, new { @Id = "statussnao" })
                            <label for="statussnao">Não</label>
                            @Html.ValidationMessageFor(model => model.aderir)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.permitir_lista, "Lançamento deve permitir inclusão na lista de compras", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model.permitir_lista, 1, new { @Id = "statussim" })
                            <label for="statussim">Sim</label>
                            @Html.RadioButtonFor(model => model.permitir_lista, 0, new { @Id = "statusnao" })
                            <label for="statusnao">Não</label>
                            @Html.ValidationMessageFor(model => model.permitir_lista)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ativa, "Ativar/Desativar", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ativa", String.Empty)
                            @Html.ValidationMessageFor(model => model.ativa)
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

                            <a class="btn btn-default" id="btneditarlancamento">Gravar</a>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
}