@model PagedList.IPagedList<SolarEP.Models.checklist_codigo>
@using PagedList
@using PagedList.Mvc


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Content/assets/vendor/jquery/jquery.js")"></script>

<script>
    $(function () {
        // your code goes here

        $(".btadicionarcheckequip").click(function () {

            $("#modaladicionarcheckequip").load($(this).attr('href'));

            $("#modaladicionarcheckequiplink").trigger("click");

            return false;

        });

        $(".bteditarcheckequip").click(function () {

            $("#modaleditarcheckequip").load($(this).attr('href'));

            $("#modaleditarcheckequiplink").trigger("click");

            return false;

        });

        $(".btdeletarcheckequiplink").click(function () {

            $("#modaldeletarcheckequip").load($(this).attr('href'));

            $("#modaldeletarlink").trigger("click");

            return false;

        });


        $("#btdeletarcheckequip").click(function () {

            $("#formdeletarcheckequip").submit();

        });

    });

</script>

<header class="page-header">
    <h2>Equipamentos</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Equipamentos</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
    </div>
</header>

<!-- start: page -->

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="@Url.Content("~/ChecklistEquipamento/Create")" class="btadicionarcheckequip panel-action"><i class="fa fa-plus"></i></a>
                    <a href="#modalAnim" id="modaladicionarcheckequiplink" class="panel-action fa fa-plus modal-with-zoom-anim" style="display:none;"><i class="fa fa-plus"></i></a>
                </div>

                <h2 class="panel-title">Equipamentos</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table mb-none">
                        <thead>
                            <tr>
                                <th width="90%">Código do equipamento (@ViewBag.qtd)</th>
                                <th width="10%">Ações</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => item.codigo)</td>

                                    <td class="actions">

                                        <a href="@Url.Content("~/ChecklistEquipamento/edit/"+item.id)" class="bteditarcheckequip panel-action"><i class="fa fa-pencil"></i></a>

                                        <a href="#modalAdd" id="modaleditarcheckequiplink" class="panel-action modal-with-zoom-anim" style="display:none;"><i class="fa fa-pencil"></i></a>

                                        <a href="@Url.Content("~/ChecklistEquipamento/delete/"+item.id)" class="btdeletarcheckequiplink "><i class="fa fa-trash-o"></i></a>

                                        <a href="#modalRemover" id="modaldeletarlink" class="delete-row modal-with-zoom-anim" style="display:none;"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            Página @Model.PageNumber de @Model.PageCount
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page }))
        </section>
    </div>
</div>

<!-- Modal atualizar -->
<div id="modalAdd" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Atualizar</h2>
        </header>
        <div class="panel-body" id="modaleditarcheckequip">

            <!-- conteudo aqui -->
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success modal-atualizar" id="bteditarcheckequip">Atualizar</button>
                    <button class="btn btn-default modal-dismiss">Cancelar</button>
                </div>
            </div>
        </footer>
    </section>
</div>

<!-- Modal Adicionar -->
<div id="modalAnim" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Adicionar</h2>
        </header>
        <div class="panel-body" id="modaladicionarcheckequip">
            <!-- conteudo aqui -->
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success modal-confirm" id="btadicionarcheckequip">Adicionar</button>
                    <button class="btn btn-default modal-dismiss" id="btadicionarcancelarcheckequip">Cancelar</button>
                </div>
            </div>
        </footer>
    </section>
</div>

<!-- Modal Remover -->
<div id="modalRemover" class="zoom-anim-dialog modal-block modal-block-danger mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Deletar</h2>
        </header>
        <div class="panel-body" id="modaldeletarcheckequip"> </div>

        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-danger modal-delete" id="btdeletarcheckequip">Confirmar</button>
                    <button class="btn btn-default modal-dismiss">Cancelar</button>
                </div>
            </div>
        </footer>
    </section>
</div>
